.obrazek {
    width: 400px;
    height: 250px;
    border: 2px solid black;
    padding: 10px;
    
}

@keyframes powiekszanie {
from {
    width: 400px;
    height: 250px;
    border: 2px solid black;
    padding: 10px;
}
to {
    width: 75px;
    height: 50px;

}
}

.obrazek:hover{
    animation-name: powiekszanie;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

.box {
    overflow: hidden;
    width: 500px;
    height: 250px;
    box-sizing: border-box;
}
 img {
    height: 100%;
    width: 100%;
    animation-fill-mode: forwards;
}
img:hover {
    animation-name: przyblizanie;
    animation-duration: 2000ms;
}
@keyframes przyblizanie {
    from {
        height: 100%;
        width: 100%;
    }
    to {
        transform: scale(1.5);
    }
}
